In [1]:
# Strings
v1 = "hema"
v2 = "latha"
print(v1)
print(v2)

hema
latha

In [2]:
#Special literal none
valuenone = None;
print(valuenone)

None

In [5]:
#important of backslash
text = 'hello\
world'
print(text)

helloworld

In [6]:
#multiline string
multext = '''i'm from madurai
studing B.Tech information technology
in KLNCE'''
print(multext)

i'm from madurai
studing B.Tech information technology
in KLNCE

In [7]:
#Arithmetic Operators
# +,-,*,/,%,**
print(10+2)
print(10-2)
print(10*2)
print(10/2)
print(10%2)
print(10**2)

12
8
20
5.0
0
100

In [8]:
#Assignment Operators
# =,+=,-=,/=,*=,.....
a=10
b=20
a+=b
b-=a
print(a)
print(b)

30
-10

In [9]:
#Comparison Operator
print(5>9)
print(10<20)
print(23=='23')
print('hema'=='hema')

False
True
False
True

In [17]:
#Logical operator AND OR  NOT
x,y=30,10
com=x>10 and y>20
print(com)
com2=x>10 or y>20
print(com2)
com3=x>10 & y>20
print(com3)

False
True
False

In [19]:
#Bitwise Operators & |
print(4&2) #convert dec into bin , perform and logic operation
print(2|1)#convert dec into bin , perform or logic operation

0
3

In [22]:
#Identity Operator
x = 10
y = 10
print(x == y) # is
print(y != 20)# is not
print(2 == x)# is

True
True
False

In [23]:
#MemberShip Operator
chars = ['hema','latha','kd']
print('hem' in chars)
print('kd' in chars)

False
True

In [24]:
#DataTypes in python
message = "it is a string"
floating = 123.442
integer = 2323
complex = 12+2j
 # 'type' function is used to indentify the data type
print(type(message))
print(type(floating))
print(type(integer))
print(type(complex))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [27]:
#String Operations
#Slicing
# slice the data from give range[strat vaue:before end value]
str1 = "This is string"
print(str1[2])
print(str1[0:5])
print(str1[-1])  
print((str1[5:-1]))

i
This
g
is strin

In [28]:
# find method used to check the given string is present or not 
print(str1.find('this'))
print(str1.find('This'))

-1
0

In [30]:
#replace()
# used to change the content in the string 
str1.replace("string","Sentence")

'This is Sentence'

In [33]:
#Split()
# used to split the string sentence by using the given arg and stored them in the list 
ans = str1.split('i')
ans

['Th', 's ', 's str', 'ng']

In [35]:
#List 
#list is mutable
a = [1,2,3,4,5]
b=["a","b","c"]
print(a)
print(b)
a.append(6)
b.append(8)
print(a)
print(b)
a.extend(b)
print(a)
print(a[0:3])

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 8]
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 8]
[1, 2, 3]

In [41]:
#Tuple
myTuple = ('a','b','c','d')
print(myTuple)
#it is immutable
# myTuple[2] = "2" it gives error
print(myTuple[1])
print(myTuple[1:4])

('a', 'b', 'c', 'd')
b
('b', 'c', 'd')

In [42]:
myTuple[1]

'b'

In [45]:
#Dictionary-key value pairs
myDict = {
    1: 'Apple',
    2: 'banana',
    3: 'orange',
    4: 'mango'
    }
myDict

{1: 'Apple', 2: 'banana', 3: 'orange', 4: 'mango'}

In [46]:
myDict[3]

'orange'

In [48]:
print(myDict.keys())
myDict.values()

dict_keys([1, 2, 3, 4])

dict_values(['Apple', 'banana', 'orange', 'mango'])

In [49]:
#Set 
# set does not print repeated data
mySet = {1,2,3,1,2,3,1,2,3,3,3,3,4,4,5,6,7,7}
print(mySet)

{1, 2, 3, 4, 5, 6, 7}

In [50]:
#pipe to merge sets (Union)|
# union - prints all the data in both the sets without repeation 
set1={1,2,4,'a','b','c'}
set2={'a','c',3,4}
set1|set2

{1, 2, 3, 4, 'a', 'b', 'c'}

In [51]:
#intersection - prints the data which is in both the sets
set1&set2

{4, 'a', 'c'}

In [52]:
#difference - it reduce the same data in both the sets and prints the remaining data in the 1st set
set1-set2

{1, 2, 'b'}

In [53]:
#Control flow
age=18
if(age==18):
    print('Your age is 18')
elif(age>18):
    print('Your eligible for vote')
else:
    print('your children')

Your age is 18

In [57]:
#for loop
birds = ['peacok','pigeon','crow','parrot','squirrel']
for i in birds: # default value for loop range is 0
    print(i)

peacok
pigeon
crow
parrot
squirrel

In [58]:
for i in range(1,11):
    if(i%2==0):
        print(str(i)+": Even")
    else:
        print(str(i)+": Odd")

1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even

In [59]:
#Functions in Python
def welcome():
    print("Welcome")
welcome()

Welcome

In [60]:
def set_list(list):
    list = ["A", "B", "C"]
    return list
  
def add(list):
    list.append("D")
    return list
  
my_list = ["E"]
  
print(set_list(my_list))
  
print(add(my_list))

['A', 'B', 'C']
['E', 'D']

In [61]:
x = lambda a,b: a*b
x(2,4)

8

In [62]:
x = lambda a,b: a+b
x(2,4)

6

In [63]:
x = lambda a,b: a-b
x(2,4)

-2